$fg = #111
$fg_light = lighten($fg, 20%)

$bg = #f9f9f9
$bg_dark = darken($bg, 20%)

$link = #202746
$link_hover = darken($link, 10%)
$link_visited = lighten($link, 10%)

body
  height: 100%
  color: $fg
  background-color: $bg
  margin: 0

html
  font-family: sans-serif
  height: 100%

h1
  font-weight: 500

h2
  font-weight: 400

h3
  font-weight: 200

li
  padding-bottom: 10px

.content
  padding: .25em 1em 1em

.flex
  display: flex

#body
  display: flex
  flex-flow: column
  height: 100%

#nav
  background-color: $bg_dark
  display: flex
  padding: 1em
  align-items: center
  .nav-item
    padding-right: .5em

#header
  border-bottom: 2px solid $bg_dark

#procedure
  overflow-y: scroll

#ingredients
  overflow-y: scroll

#tags
  display: flex
  padding-bottom: 1em

#tags div
  padding: .5em
  margin-left: .5em
  border-radius: 1em
  text-transform: capitalize
  background-color: $fg_light
  color: $bg
  font-size: 14px

#footer
  border-top: 2px solid $bg_dark
  background-color: $bg
  text-align: center

@media (min-width:701px)
  #ingredients
    height: 100%
    border-right: 1px solid $bg_dark

  .flex
    height: 100%

@media (max-width:700px)
  .flex
    flex-direction: column

  #ingredients
    border-bottom: 1px solid $bg_dark

.tag-link
  a
    color: $bg_dark
  a:visited
    color: $bg_dark
  a:hover
    color: darken($bg_dark, 20%)

a
  color: $link
  text-decoration: none

a:hover
  color: $link_hover

a:visited
  color: $link_visited


