{{ define "nav" }}
<div id="nav">
  <a class="nav-item" href="{{ routePrefix }}/">Home</a>
  <a class="nav-item" href="{{ routePrefix }}/tags.html">Tags</a>
</div>
{{ end }}


{{ define "links" }}
<ul>{{ range . }}
  <li><a href="{{ .Ref }}">{{ title .Title }}</a></li>{{ end }}
</ul>
{{ end }}
